{{ define "hero" }}
<div class="flex-group flex-group--2">
    <div>
    Welcome to a world beyond official Disney comics! I'm a big fan of the stories of Donald Duck and his family and would like to present my own drawings and stories on this website. I will upload content regularly. So take a look frequently… and enjoy looking around!
<br>Rumpelstiltskin (Obviously a pseudonym)

    </div>
    <div>{{ $headerimg := resources.Get "images/Willkommensbild.png" }}
        <img src="{{ ($headerimg.Resize "1200x jpg" ).RelPermalink }}" style="max-height: 500px;" >
    </div>
</div>
{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<header>
<!-- <h1 class="title">{{ .Title }}</h1> -->
</header>

<!-- {{ .Content }} -->

{{ $paginator := .Paginate (.Pages) -}}
<div class="index-cover-list">
{{ range $paginator.Pages -}}
{{ .Render "cover" }}
{{ end -}}
</div>

{{ partial "pagination.html" . }}
</main>
{{ end -}}
