// Set the font sizes to use, fixed or fluid.
$font-size: $font-size-fluid;

$geometric-heading: 'Carme', $geometric, sans-serif;
$geometric-text: 'Actor', $geometric, sans-serif;

$font-family: (
  body:       $geometric-text,
  headings:   $geometric-heading,
  alt:        $system-ui,
  monospace:  $ui-monospace,
);

// The max content width. (Consider using one of the breakpoints.)
$max-content-width:   1200px;

// The max page width. Defaults to max-content-width.
// Setting this to a larger value than max-content-width allows
// content with class "stretch" to stretch out to the page edge.
$max-page-width:      1200px;


// $breakpoints: (
//   'xxxl':     1222px,
//   'xxl':      1111px,
//   'xl':       999px,
//   'l':        888px,
//   'm':        777px,
//   // 's':        666px,
//   // 'xs':       555px,
//   // 'xxs':      444px,
//   // 'xxxs':     333px,
//   's':       100px,
//   'xs':       90px,
//   'xxs':      80px,
//   'xxxs':     70px,
// );
