{{ define "main" -}}
<main class="main layout__main">
<article class="single-view{{ with .Section }} single-view--{{ . | urlize }}{{ end }}">
<header>
<h1 class="title{{ if $.Param "submitted" | default false }} mb--xxs{{ end }}">COMIC {{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
</header>
<div class="flex-group flex-group--2">

  {{ partial "comicviewer.html" . }}


<div>{{ .Content }}</div>
</div>


</article>

{{ range .Params.examples }}
<section class="{{ .class }}">
<h2>{{ .title }}</h2>

<p>{{ .text }}</p>
</section>
{{ end }}

</main>
{{ end -}}
