<article class="cover-list list-view{{ with .Section }} list-view--{{ . | urlize }}{{ end }}">
<!-- <header> -->
<!-- <h2 class="title mt--s{{ if $.Param "submitted" | default false }} mb--xxs{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2> -->
<!-- {{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }} -->
<!-- </header> -->
<a href="{{ .RelPermalink }}">
{{ if .Params }}
{{ if .Params.cover }}
{{ if .Resources.Get .Params.cover }}
{{ partial "comic.html" (dict "img" ( .Resources.Get .Params.cover ) "size" "50vw" ) }}
{{ end -}}
{{ end -}}
{{ end -}}
<div class="page-info">
    {{ if and (.Params.comic_pages) (gt (len .Params.comic_pages) 0) }}
    {{ i18n "cover_count_label" (len .Params.comic_pages) }}
    {{ else}}
    {{ i18n "cover_count_zero" }}
    {{ end }}
</div>
<span class="cover-title">{{ .Title }}</span>
</a>
</article>
