{{ $images := .Resources.ByType "image" -}}
{{ $n_images := len $images }}

<div class="cv-container">

  <!-- <img
    onclick="openModal()"
    src="{{ .RelPermalink }}"
    alt=""> -->

  {{ range $images }}
  <div class="cv-preview" onclick="openModal();">
    {{ partial "comic.html" (dict "src" .RelPermalink) }}
  </div>
  {{ end }}

  <div class="cv-thumbnails">
  {{ range $idx, $img := $images }}
  <div class="cv-thumbnail" onclick="currentSlide({{ $idx }})">
    {{ partial "comic.html" (dict "src" $img.RelPermalink) }}
  </div>
  {{ end }}
  </div>
</div>

<div id="cv-modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="cv-modal-background" onclick="closeModal()"></div>
  <div class="cv-modal-content" onclick="closeModal();">

    {{ range $idx, $img := $images }}
      <div class="numbertext">{{ add $idx 1 }} / {{ $n_images }} </div>
    <div class="cv-modal-slide">
      <div class="" style="width: 100%; height: 100%; position: relative;">
        <div class="comic-wrapper" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
          <div style="width: 100%; height: 100%;" class="comic">
            <img src="{{ .RelPermalink }}" style="max-width: 100%; max-height: 100%;" onclick="event.stopPropagation();">
          </div>
        </div>
      </div>
    </div>
    {{ end }}

      <!-- Next/previous controls -->
    <a class="prev" onclick="plusModal(-1); event.stopPropagation();">&#10094;</a>
    <a class="next" onclick="plusModal(1); event.stopPropagation();">&#10095;</a>
  </div>

</div>

{{ $script := resources.Get "js/comicviewer.js" -}}
<script src="{{ $script.RelPermalink }}"></script>
