{{ define "title" }}{{ site.Title }}{{ end }}

{{ define "hero" }}
<div class="flex-group flex-group--2">
    <div>
    Welcome to a world outside the official disney comics! I am a huge fan of the stories of Donald Duck and his family and want to present my own stories and drawings on this website. I am regularly adding new content. Check back regularly... and enjoy looking around!
<br>Rumpelstilzchen (obviously a pseudonym)

    </div>
    <div>{{ $headerimg := resources.Get "images/Willkommensbild.png" }}
        <img src="{{ $headerimg.RelPermalink }}" style="max-height: 500px;" >
    </div>
</div>
{{ end }}

{{ define "main" -}}
<main class="main layout__main">
{{ .Content }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{ $paginator := .Paginate $pages -}}
<div class="index-cover-list">
{{ range $paginator.Pages -}}
{{ .Render "cover" }}
{{ end -}}
</div>

{{ partial "pagination.html" . }}
</main>
{{ end -}}
